/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*********************
header
*********************/


#Header {
    margin: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #151515;
    background: -webkit-gradient(linear, left top, left bottom, from(#3f4650), to(#424242));
}


#Login {
    height: 100%;
    width: 20%;
    padding: -1px;
    float: left;
}

#Login li {
    border: 1px groove #8F8F8F;
    width: 100%;
    height: 80%;
    position: relative;
    top: 3px;  /* border分上下1px少なく指定する,boxshadowを指定すると変わってくる?*/
    -webkit-box-shadow: 0 0 1px 1px #404040;
}


#Login li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#2E2E2E));
}

#Login li p a {
    font-size: 15px;
    font-family: 'Signika Negative', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #CECECE;
    position: absolute;   /* cf:http://tmlife.net/web/css/css-text-vertical-top-middle-bottom.html*/
    top: 50%;
    margin-top: -7.5px;
}

#Login li p a:hover {
    color: #FFFFFF;
    text-shadow: 0 0px #ffffff;
}


#MyList {
    height: 100%;
    width: 20%;
    padding: -1;
    float: left;
    margin-left: 5.5%;
}

#MyList li {
    border: 1px groove #8F8F8F;
    width: 100%;
    height: 80%;
    position: relative;
    top: 3px;  /* border分上下1px少なく指定する,boxshadowを指定すると変わってくる?*/
    -webkit-box-shadow: 0 0 1px 1px #404040;
}


#MyList li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#2E2E2E));
}

#MyList li p a {
    font-size: 15px;
    font-family: 'Signika Negative', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #CECECE;
    position: absolute;   /* cf:http://tmlife.net/web/css/css-text-vertical-top-middle-bottom.html*/
    top: 50%;
    margin-top: -7.5px;
}

#MyList li p a:hover {
    color: #FFFFFF;
    text-shadow: 0 0px #ffffff;
}

.Title {
    width: 25%;
    margin-left: 12.0%;
    margin-right: 12.0%; /*ログインのwidthとリンクして決める*/
    float: left;
    font-weight: bold;
}

.Title h1 {
    font-size: 28px;
    font-family: 'Signika Negative', sans-serif;
    letter-spacing: 2.4px;
    color: #ffffff;
    text-align: center;
    margin-top: 6px;
}

/**********************
Contetn
**********************/

#container {
    margin: 0;
    padding: 10px 0 0 0;
    width: 100%;
    background-color: #ebecee;
}

#searchResultBlock {
    width: 336px;
    margin: 0 auto;
}

#searchResultList{
    margin: -20px auto;
}

#searchResultList li {
    width: 100%;
    margin: 20px 0 0 0;
    height: 366px;
    background: #ffffff;
    border-bottom: 1px solid #bfc0c1;
    border-right: 1px solid #cccdce;
    border-top: 1px solid #cccdce;
    border-left: 1px solid #bfc0c1;
    -webkit-box-shadow: 1px 1px 0.5px #bfc0c1;
    -webkit-border-radius: 2px;
}

.imgContainer{
    text-align: center;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.ListInner {
    width: 316px;
    height: 74%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #A9A9A9;
}

