/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#header {
	margin: 0;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #151515;
	background: -webkit-gradient(linear, left top, left bottom, from(#3f4650), to(#292d33));
}

h1 {
	text-align: center;
	margin: auto;
	font-family: 'Signika Negative', sans-serif;
	font-size: 25px;
	color: #ffffff;
	float: left;
}

#navi {
	height: 44px;
	width: 120px;
	padding: 0;
	margin: 0;
}

#navi li {
	border-left: 1px solid #353944;
	color: #EEEEEE;
	font-weight: bold;
	font-size: 13px;
	font-family: 'Signika Negative', sans-serif;
	float: left;
	width: 40%;
	padding: 10;
	margin: 10;
}

#container {
	margin: 0;
	padding: 10px 0 0 0;
	width: 100%;
	background-color: #ebecee;
}

#result {

}

#searchResultBlock {
	width: 306px;
	margin: 0 auto;
}

#searchResultList{
	margin: -20px auto;
}

#searchResultList li {
	width: 100%;
	margin: 20px 0 0 0;
	height: 340px;
	background: #ffffff;
	border-bottom: 1px solid #bfc0c1;
	border-right: 1px solid #cccdce;
	border-top: 1px solid #cccdce;
	border-left: 1px solid #bfc0c1;
	-webkit-box-shadow: 1px 1px 0.5px #bfc0c1;
	-webkit-border-radius: 2px;
}

.imgContainer{
	text-align: center;
	vertical-align: middle;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.ListInner {
	width: 298px;
	height: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	background-color: #A9A9A9;
}

